

.roadmap{
    background: black;
   height: 100vh;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin-bottom: 50px;
   
   margin: 0px;
   padding: 0px;
}
.roadmap div{
    height: 220px;
    
    width: 800px;
}
.roadmap h2{
    color: white;
    font-weight: 600;
    font-size: 48px;
}
.roadmap p{
    color: aquamarine;
    font-weight: 300;
    font-size: 20px;
}
.roadmap img{
    height: 450px;
    width: 1050px;
}