.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto);
  gap: 20px; 
  padding: 0 20px;
  background-color: black;
  justify-content: center;
  margin-top: 30px; 
}

.feature {
  background-color: #333; 
  padding: 10px 20px;
 
  /*box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); */
  box-shadow: 0px 4px 10px rgba(0, 192, 192, 0.5);
  border-radius: 18px; /* Optional: rounds the corners of the boxes */
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer; /* Adjust shadow to match your image */
}

.feature:hover {
  /* box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);*/
  box-shadow: 0px 0px 15px #00C0C0;
  
}

.feature-title{
  color: #00C0C0;
 
}
.feature-description{
  color: #FFFFFF;
  font-weight:200;
  
}

/* Target the 4th and 5th items and make them take up one-third of the space */
.feature:nth-child(4), .feature:nth-child(5) {
  grid-column: span 1;
}

/* Adjust the starting position of the 4th item if there are exactly 5 items */
.features-grid:only-child:nth-child(4) {
  grid-column-start: 2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr; /* Stack them on smaller screens */
  }

  .feature:nth-child(4), .feature:nth-child(5) {
    grid-column: auto;
  }

  .features-grid:only-child:nth-child(4) {
    grid-column-start: auto;
  }
}
