.navbar{
    display: flex;
    justify-content: space-around;
    padding: 12px;
   /* background: #171717;*/
    background-color: rgb(55, 55, 56);
    font-family: 'poppins';
    height: 70px;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-logo img{
    height: 70px;
    width: 70px;
    background-color: black;
    
}
.nav-logo P{
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color:#626262;
}
.nav-login-btn{
    display: flex;
    
    align-items: center;
    gap: 45px;
}
.nav-login-btn button{
    width: 165px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #7a7a7a;
    counter-reset: #515151;
    font-size: 21px;
    font-weight: 500;
    background-color: transparent;
    color: aliceblue;
}