
  

.about-container{
    background-color: black;
    margin: 0;
  padding: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    height: 527px;
    
    
}
.text-container{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    
    color: white;
    
}
.heading-about{
    font-size: 16px;
    font-weight: 500;

}
.sub-container{
    height: 140px;
    width: 710px;
}
.span-class{
    font-size: 48px;
    font-weight: 700;

}
.title{
    font-size: 32px;
    font-weight: 400;
}
.subtitle{
    font-size: 14px;
    font-weight: 300;
}
.right-container{
    
    height: 506px;
    width: 684px;
    

}
.right-container img{
    height: 450px;
    
}